.row
  .col-sm-4.col-sm-offset-4.text-center
    %h2 Ready to reset!
    %p Use 6 characters or more. Add numbers, lower and upper case letters for strength.
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = render "devise/shared/error_messages", resource: resource
      = f.hidden_field :reset_password_token
      .form-group
        = f.input :password, input_html: { autofocus: true, autocomplete: 'new-password' }, placeholder: 'Password', label: false
        = f.input :password_confirmation, input_html: { autocomplete: 'off' }, placeholder: 'Password Confirmation', label: false
      .actions
        = f.button :submit, 'RESET PASSWORD', class: "btn-primary btn-lg btn-block"
