<h2>Update New Product</h2>
<%= simple_form_for [:admin, @product] do |f| %>
    <div class="form-group">
      <%= f.input :name %>
      <%= f.input :price %>
      <%= f.simple_fields_for :photos do |p| %>
        <%= p.input :image, as: :file %>
      <% end %>
    </div>

    <%= f.button "submit", class: "btn-primary", data: {disable_with: "Submit..."} %>

<% end %>
