%h2 Added New Product
= simple_form_for [:admin, @product] do |f|
  .form-group
    = f.input :name
    = f.input :price
    = f.simple_fields_for :photos do |p|
      = p.input :image, as: :file
  = f.button :submit, 'CREATE PRODUCT', class: "btn-primary", data: {disable_with: "Submit..."}
