.row
  .col-sm-4.col-sm-offset-4.text-center
    %h2 Added New Product
    = simple_form_for [:admin, @product] do |f|
      .form-group
        = f.input :name, placeholder: 'Name', label: false
        = f.input :price, placeholder: 'Price', label: false
        = f.input :discount, placeholder: 'Discount', label: false
        = f.input :photo, as: :file, placeholder: 'Image', label: false
      = f.button :submit, 'CREATE PRODUCT', class: 'btn-primary btn-lg btn-block', data: {disable_with: 'Submit...'}
