.row
  - @products.each do |product|
    .col-xs-12.col-md-2
      = link_to product_path(product) do
        = render_product_photo(product.default_photo)
      - if current_user.is_premium?
        = product.name
        $
        %del= product.original_price
        = product.premium_price
      - else
        = product.name
        $
        = product.original_price
= paginate @products
