<div class="row">
  <div class="col-md-5">
    <%= render_product_photo(@product.default_photo, :medium) %>
  </div>

  <div class="col-md-7">
    <h2> <%= @product.name %> </h2>

    <div class="product-price">
      <% if current_user.premium? %>
        $ <del><%= @product.original_price %></del> <%= @product.premium_price %>
      <% else %>
        $ <%= @product.original_price %>
      <% end %>
    </div>

  </div>
</div>
