!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Beestore
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .main
      .row
        .header.col-xs-12
          = render "common/navbar"
      .row
        .content.col-xs-12.scroll-y{ class: yield(:wrapper_class) }
          = notice_message
          = yield
      .row
        .footer.col-xs-12
    = yield :body_js
